* {
  text-align: center;
}

form {
  padding-bottom: 10px;
}

button {
  margin: 5px;
}

ul {
  list-style-type: none;
}

.class {
  flex-direction: row;
}

.add {
  display: flex;
}

.searchbar {
  display: flex;
  margin-top: 3%;
  margin-left: 25%;
  margin-right: 25%;
  max-width: 50%;
}